html, body {
  position: absolute;
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

div {
  margin: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

pre {
  color: white;
  font-family: monospace;
  pointer-events: none;
  user-select: none;
}

.hidden {
  display: none;
}

.top-section {
  width: 33%;
  overflow: wrap;
}

.left {
  text-align: left;
}

.middle {
  text-align: center;
}

.right {
  text-align: right;
}